@{
	ViewBag.Title = "Home Page";
}
<head>
	<link rel="stylesheet" href="~/Content/Styles.css" />
</head>
<main>


	<div class="card-container" style=" display: flex; @*justify-content: space-between;*@ align-items: center;">

		<div class="card" style="background-image: url('https://cdn.shopaccino.com/refresh/articles/asre-906919_l.jpg');">
			<p1 style="color:azure"><h2>Natural spices</h2></p1>
			<p1 style="color:azure">Up to 25% off</p1>


		</div>
		<div class="card" style="background-image: url('https://img.freepik.com/free-photo/soybean-oil-soybean-food-beverage-products-food-nutrition-concept_1150-26352.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
			<p1 style="color:sandybrown">
				<h2>Fresh oil & ghee</h2>
			</p1>
			<p1 style="color:sandybrown">Up to 20% off</p1>
		</div>


		<div class="card" style="background-image: url('https://img.freepik.com/free-photo/sack-rice-seed-with-white-rice-small-wooden-spoon-rice-plant_1150-35744.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
			<p1 style="color:yellow"><h2>Rice & wheat</h2></p1>
			<p1 style="color:yellow">Up to 25% off</p1>
		</div>

		<div class="card" style="background-image: url('https://img.freepik.com/free-photo/raw-chicken-thighs-dark-wooden-surface_1150-43945.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais'); ">
			<p1 style="color:white"> <h2>Get Your Protien</h2></p1>
			<p1 style="color:white">Up to 10% off</p1>
		</div>

		<div class="card" style="background-image: url('https://img.freepik.com/free-photo/abstract-shot-bathroom-items-concept-hygiene_181624-47889.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
			<p1 style=" color:cornflowerblue"><h2>Hygiene Essentials</h2></p1>
			<p1  style=" color:cornflowerblue">Up to 35% off</p1>
		</div>

	</div>





</main>


<footer>
	<div class="useful-links">
		<h3> Useful Links</h3>
		<div class="column">
			<ul>
				<li> About</li>
				<li> Careers</li>
				<li> Blog</li>
				<li> Press</li>
				<li> Lead</li>
				<li> Value</li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li> Terms</li>
				<li> Privacy</li>
				<li> FAQs</li>
				<li> Security</li>
				<li> Mobile</li>
				<li> Contact</li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li> Partner</li>
				<li> Express</li>
				<li> Seller</li>
				<li> Spotlight</li>
				<li> Warehouse</li>
				<li> Deliver</li>
			</ul>
		</div>
	</div>
	<div class="categories">
		<h3> Categories</h3>
		<div class="ccolumn">
			<ul>
				<li> Vegetables & Fruits</li>
				<li> Dairy & Breakfast</li>
				<li> Munchies</li>
				<li> Cold Drinks & Juices</li>
				<li> Instant & Frozen Food</li>
				<li> Tea, Coffee & Health Drinks</li>
				<li> Bakery & Biscuits</li>
				<li> Sweet Tooth</li>
				<li> Atta, Rice & Dal</li>
				<li> Dry Fruits, Masala & Oil</li>
			</ul>
		</div>
		<div class="ccolumn">
			<ul>
				<li> Sauces & Spreads</li>
				<li> Chicken, Meat & Fish</li>
				<li> Organic & Premium</li>
				<li> Cleaning Essentials</li>
				<li> Beauty & Cosmetics</li>
				<li> Personal Care</li>
				<li> Ice Creams & Frozen Desserts</li>
				<li> Toys & Games</li>
			</ul>
		</div>
	</div>
	<div class="foot">
		<p> Thank you for choosing bigbasket for your grocery shopping needs! We're committed to making your life easier and healthier If you have any questions, suggestions, or feedback, please don't hesitate to reach out. Happy shopping!</p>
		<p> &copy; 2023 bibasket. All rights reserved.</p>
	</div>
</footer>